<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="pb-2 mt-4 mb-3">
                <button type="button" class="btn btn-secondary">Back</button>
            </div>

            <div class="row">
              <div class="col-4">
                <img class="d-block w-50 h-100" src="https://m.media-amazon.com/images/I/71MEh-s3p7L._AC_SL1500_.jpg">
              </div>
            
              <div class="col-4" style="white-space: normal; word-wrap: break-word;">
                    <h5>The Greatest Movie Ever</h5>
                    <a href=""><h5>By: NoahC</h5></a>
                    <p>This movie is the best.</p>
              </div>

              <div class="col-4">
                <h6>Media: Movie</h6>
                <h6>Rating: 10/10</h6>
              </div>
            </div>

            <div class="row my-4 justify-content-center">
                <div class="col-8">
              
                  <div class="card w-100 mt-3">
                    <div class="card-body">
                         <div class="form-group">
                          <textarea class="form-control mb-1" placeholder="Leave A Comment" name="sentence"></textarea>
                         </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                  </div>
              
                  <div class="card w-100 mt-3">
                    <div class="card-header">
                      <em>NoaHC</em>
                    </div>
                    <div class="card-body">
                      <p>Posted Today</p>
                      <p>Great Review</p>
                    </div>
  
                    <h5>Replies</h5>
  
                    <div class="card w-100 mt-3">
                      <div class="card-header">
                        <em>JoltC</em>
                      </div>
                      <div class="card-body">
                        <p>Posted Tomorrow</p>
                        <p>I know</p>
                      </div>
                    </div>
  
                    <div class="card w-100 mt-3">
                      <div class="card-body">
                        <div class="form-group">
                          <textarea class="form-control mb-1" placeholder="Reply" name="csentence"></textarea>
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
                    
                  </div>              
                </div>
            </div>

        </div>
    </body>
</html>